<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="greetingBelarus" class="com.company.greeting.GreetingBelarus">
    </bean>

    <bean id="greetingPrint" class="com.company.GreetingPrint">
        <constructor-arg index="0" ref="greetingBelarus"/>
    </bean>
 </beans>


 <!-- Основное задание
 1. Создать мавен проект со Spring зависимостями для вывода на консоль
 приветственное сообщение. Использовать внедрение зависимостей.
 Выполнить задачу с помощью xml конфигурации и с помощью
 аннотаций.
 Дополнительное задание
 1. Создать проект для планирования задач.
 Пусть будет бин, который делает банковскую операцию из списка задач
 (задача - это Java класс). Список задач будет задаваться в
 конфигурации. Использовать Spring, использовать xml конфигурацию. -->